# Node
node_modules/
npm-debug.log*

# Expo
.expo/
.expo-shared/

# Python
backend/venv/
__pycache__/
*.pyc

# Environment
.env

# Firebase / Google Cloud credentials
backend/serviceAccountKey.json

# Build files
dist/
build/

# OS files
.DS_Store
Thumbs.db